#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.progressWrap {
  position: relative;

  height: 20px;
  background-color: aliceblue;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(42, 165, 61);
}

.progressGroup {
  width: 800px;
  display: flex;
  align-items: center;
}

.progressGroup > .progressWrap {
  flex: 1;
  border: #888 1px solid;
  box-sizing: border-box;
}
